@{
    ViewBag.Title = "Home Page";
}
<style type="text/css">
    .info {
        background-color: rgb(27,145,255); 
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        height: 200px;
        color:white; 
        font-weight: bold; 
        border-top-left-radius: 6px; 
        border-top-right-radius: 6px;
        border-bottom-left-radius: 6px; 
        border-bottom-right-radius: 6px;
        text-align: center; 
        font-style: italic;
    }
    .infoHolder {
        margin-top: 100px; 
        margin-bottom: 400px; 
        margin-left: auto; 
        margin-right: auto;
    }
</style>

<div style="background-color: white; margin: 0 auto;">
    <img src="~/Images/AimsLogoHub.png" class="img-responsive text-center" style="margin: 0 auto; width: 300px;" />
    &nbsp;&nbsp;
    <p class="lead text-center" style="width: 550px; margin: 0 auto;">A fresh take on the AIMS Patient Log. Built on new technology and aimed towards a better user experience.</p>
</div>

<div class="infoHolder">
    <div class="col-lg-4 col-lg-offset-2">
        <div class="info">
            <h1>Faster</h1>
            <hr style="width: 40%;" />
            <h4 style="font-style: normal;">
                The content you want to get to is now delivered faster than ever. Built on Microsoft MVC technology, this site
                operates with considerably less overhead while still delivering the functionality needed for day to day operations.
            </h4>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="info">
            <h1>Cleaner</h1>
            <hr style="width: 40%;" />
            <h4 style="font-style: normal;">
                Hub 2.0 is meant to display as much info as possible without cluttering the page. Get to the places you want to
                go in the hub with as few clicks as possible.
            </h4>
        </div>
    </div>
    <div class="col-lg-4"></div>
</div>